<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
       type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${TMP}\TietoServerStarter.log" />
      <param name="AppendToFile" value="false" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="5" />
      <param name="maximumFileSize" value="10KB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!-- DataProvider. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- VNC server file name and arguments -->
    <add key="VNCFileName" value="winvnc4"/>
    <add key="VNCArguments" value="-noconsole"/>
    <!-- start port number for VNC server -->
    <add key="VNCPortNumber" value="63003" />
  </appSettings>

  <connectionStrings>
    <add name="System.Data.SqlClient" connectionString="Server=WL023705\SQLEXPRESS;Initial Catalog=DeFacto;User Id=deFacto;Password=deFacto;" />
  </connectionStrings>
</configuration>