<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DataProvider. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <add key="VncViewer" value="/viewonly /notoolbar /password 0"/>
  </appSettings>
  <connectionStrings>
    <add name="System.Data.SqlClient" connectionString="Server=WL023705\SQLEXPRESS;Initial Catalog=DeFacto;User Id=deFacto;Password=deFacto;" />
    <!--<add name="itCampus" providerName="System.Data.SqlClient" connectionString="Server=(local);Initial Catalog=itCampus;User Id=PWC;Password=callmenow;" />-->
  </connectionStrings>
</configuration>